 .o_table{
  border: 1px solid #ddd;
  text-align: center;
   border-collapse: collapse;
  width: 100%;
 }
 .o_td{
  border: 2px solid #ddd;
  text-align: center;
 padding:5px;
  
 }
 
 .o_th{
 border: 1px solid #ddd;
  text-align: center;
  padding:5px;
 
 }
 